h1{
    color: aquamarine;
}
h2
{
    color: brown;
}

h3
{
    color: chocolate;
}

h5{
    color: blueviolet;
}
h6{
    color: darkcyan ;
}

.p1
{
    color: blue;
}

.p2
{
    color: orange;
}

.s1
{
    color: blue;
}

.s2
{
    color: brown;
}

.img1
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.img2
{
    width: 300px;
    height: 300px;
}